{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'Player edit'|trans({}, 'LeoGameBundle') }}</h1>
    <table>
        <tr>
            <th>{{ 'Id'|trans({}, 'LeoGameBundle') }}</th>
            <td>{{ player.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Username'|trans({}, 'LeoGameBundle') }}</th>
            <td>{{ player.username }}</td>
        </tr>
    </table>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="{{ 'Edit'|trans({}, 'LeoGameBundle') }}"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="button" href="{{ path('player_index') }}">{{ 'Back to the list'|trans({}, 'LeoGameBundle') }}</a>
        </li>
    </ul>
{% endblock %}
