{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Player list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td><a href="{{ path('player_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
                    <td>{{ game.username }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('player_show', { 'id': game.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('player_edit', { 'id': game.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {#   <ul>
           <li>
               <a href="{{ path('game_new') }}">Create a new entry</a>
           </li>
       </ul>#}
{% endblock %}
