{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Player list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Watch</th>
                <th>Play</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                    <td>{{ player.username }}</td>
                    <td>
                        {%if player.watch.count%}
                            <ol>
                                {% for watch in player.watch %}
                                    <li>
                                        {{watch.name}}
                                    </li>
                                {% endfor %}
                            </ol>
                        {%endif%}
                    </td>
                    <td>
                        {%if player.play.count%}
                            <ol>
                                {% for play in player.play %}
                                    <li>
                                        {{play.name}}
                                    </li>
                                {% endfor %}
                            </ol>
                        {%endif%}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('player_show', { 'id': player.id }) }}"><button>show</button></a>
                            </li>
                            <li>
                                <a href="{{ path('player_edit', { 'id': player.id }) }}"><button>edit</button></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {#   <ul>
           <li>
               <a href="{{ path('game_new') }}">Create a new entry</a>
           </li>
       </ul>#}
{% endblock %}
