{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Player</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ player.user.username }}</td>
            </tr>
            <tr>
                <th>Play</th>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Type of game</th>
                                <th>Name of game</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for played in player.play %}
                                <tr>
                                    <td>{{ played.typeGame }}</td>
                                    <td>{{ played.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Watch</th>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Type of game</th>
                                <th>Name of game</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for watched in player.watch %}
                                <tr>
                                    <td>{{ watched.typeGame }}</td>
                                    <td>{{ watched.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('player_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
