{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Player</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ player.user.username }}</td>
            </tr>
            {%if player.play.count %}
                <tr>
                    <th>Play</th>
                    <td>
                        <ul>
                            {% for play in player.play%}
                                <li>Name {{ play.name }}
                                    <a href="{{ path('game_edit', { 'id': play.id }) }}">Edit</a>
                                </li>
                            {%endfor%}
                        </ul>
                    </td>
                </tr>
            {%endif%}
            {%if player.watch.count %}
                <tr>
                    <th>Watch</th>
                    <td>
                        <ul>
                            {% for watch in player.watch%}
                                <li>Name {{ watch.name }}
                                    <a href="{{ path('game_edit', { 'id': watch.id }) }}">Edit</a>
                                </li>
                            {%endfor%}
                        </ul>
                    </td>
                </tr>
            {%endif%}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
