{% extends 'base.html.twig' %}

{% block body %}

    <h2>Hello {%if app.user%}{{app.user}}{%else%}guest{%endif%}!</h2>
    <a href="{{path("homepage")}}">Main</a>
    <div  style="right: 10px; top: 10px; position: fixed">
        {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
            <a href="{{path("leo_user_logout")}}"><button>Logout</button></a>
            <a href="{{path("user_show",{'id':app.user.id})}}"><button>Show</button></a>
        {%endif%}
        {#    {%if is_granted("IS_AUTHENTICATED_ANONYMOUSLY")%}#}
        {%if not is_granted("IS_AUTHENTICATED_REMEMBERED")%}
            <a href="{{path("leo_user_login")}}"><button>Login</button></a>
        {%endif%}
    </div>
    <br>
    <a href="{{path("leo_game_homepage")}}">Games</a>
    <a href="{{path("leo_user_homepage")}}">Users</a>
    <a href="{{path("leo_blog_homepage")}}">Blogs</a><br>
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('public/css/main.css') }}" />
{% endblock %}
