{% extends 'base.html.twig' %}

{% block body %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    <h2>Hello {%if app.user%}{{app.user}}{%else%}guest{%endif%}!</h2>
    <a class="button"href="{{path("homepage")}}">Main</a>
    <div  style="right: 10px; top: 10px; position: fixed">
        {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
            <a class="button"href="{{path("leo_user_logout")}}">Logout</a>
            <a class="button"href="{{path("user_show",{'id':app.user.id})}}">Show</a>
        {%endif%}
        {%if not is_granted("IS_AUTHENTICATED_REMEMBERED")%}
            <a class="button"href="{{path("leo_user_login")}}">Login</a>
        {%endif%}
    </div>
    <br>
    <a class="button"href="{{path("leo_game_homepage")}}">Games</a>
    <a class="button"href="{{path("leo_user_homepage")}}">Users</a>
    <a class="button"href="{{path("leo_blog_homepage")}}">Blogs</a><br>
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('public/css/main.css') }}" />
{% endblock %}
