{% extends 'default/index.html.twig' %}
{% block body %}
    {{ parent() }}
    <a class="button" href="{{ path("author_index") }}">{{ 'Author'|trans({}, 'LeoBlogBundle') }}</a>
    <a class="button" href="{{ path("post_index") }}">{{ 'Post'|trans({}, 'LeoBlogBundle') }}</a>
    <a class="button" href="{{ path("comment_index") }}">{{ 'Comment'|trans({}, 'LeoBlogBundle') }}</a>
{% endblock %}