{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>TypeGame list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Games</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for typeGame in typeGames %}
                <tr>
                    <td><a href="{{ path('typegame_show', { 'id': typeGame.id }) }}">{{ typeGame.id }}</a></td>
                    <td>{{ typeGame.name }}</td>
                    <td>
                        {%if typeGame.games.count%}
                            <ol>
                                {% for game in typeGame.games %}
                                    <li>
                                        {{game.name}}
                                    </li>
                                {% endfor %}
                            </ol>
                        {%endif%}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('typegame_show', { 'id': typeGame.id }) }}"><button>show</button></a>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li>
                                    <a href="{{ path('typegame_edit', { 'id': typeGame.id }) }}"><button>edit</button></a>
                                </li>
                            {%endif%}{#
                                <li>
                                    <a href="{{ path('typegame_delete', { 'id': typeGame.id }) }}"><button>delete</button></a>
                                </li>#}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <ul>
            <li>
                <a href="{{ path('typegame_new') }}"><button>Create a new entry</button></a>
            </li>
        </ul>
    {%endif%}
{% endblock %}
