{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>{{ 'TypeGame'|trans({}, 'LeoGameBundle') }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Id'|trans({}, 'LeoGameBundle') }}</th>
                <td>{{ typeGame.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans({}, 'LeoGameBundle') }}</th>
                <td>{{ typeGame.name }}
            </tr>
            <tr>
                <th>{{ 'Games'|trans({}, 'LeoGameBundle') }}</th>
                <td> <ol>
                        {% for game in typeGame.games %}
                            <li>
                                {{game.name}}
                            </li>
                        {% endfor %}
                    </ol></td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <a class="button"href="{{ path('typegame_edit', { 'id': typeGame.id }) }}">{{ 'Edit'|trans({}, 'LeoGameBundle') }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete'|trans({}, 'LeoGameBundle') }}">
                {{ form_end(delete_form) }}
            </li>
            <li>
                <a class="button"href="{{ path('typegame_new') }}">{{ 'New'|trans({}, 'LeoGameBundle') }}</a>
            </li>
        {%endif%}
        <li>
            <a class="button"href="{{ path('typegame_index') }}">{{ 'Back to the list'|trans({}, 'LeoGameBundle') }}</a>
        </li>
    </ul>
{% endblock %}
