{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>TypeGame</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeGame.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ typeGame.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typegame_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typegame_edit', { 'id': typeGame.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('typegame_new') }}">New</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
