{% extends 'default/index.html.twig' %}
{% block body %}
    {{parent()}}
    <a href="{{path("game_index")}}">{{ 'Games'|trans({}, 'LeoGameBundle') }}</a>
    <a href="{{path("player_index")}}">{{ 'Players'|trans({}, 'LeoGameBundle') }}</a>
    <a href="{{path("typegame_index")}}">{{ 'Typegame'|trans({}, 'LeoGameBundle') }}</a>
{% endblock %}