{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Post list</h1>
    {% for post in posts %}
        <h2>  Author {{ post.author }}</h2>
        <h3>  Title {{ post.name }}</h3>
        <p> Text {{ post.text }}</p>
        <a href="{{ path('post_show', { 'id': post.id }) }}"><button>show</button></a>
        <a href="{{ path('post_edit', { 'id': post.id }) }}"><button>edit</button></a>
        <a href="{{ path('post_delete', { 'id': post.id }) }}"><button>delete</button></a>
        {%if post.comments.count%}
            <ul>
                {% for comment in post.comments %}
                    <li>
                        <h3> Author   {{ comment.author }}</h3>
                        <p> Comment  {{ comment.comment }}</p>
                        <a href="{{ path('comment_show', { 'id': comment.id }) }}"><button>show</button></a>
                        <a href="{{ path('comment_edit', { 'id': comment.id }) }}"><button>edit</button></a>
                        <a href="{{ path('comment_delete', { 'id': comment.id }) }}"><button>delete</button></a>
                    </li>
                {% endfor %}
            </ul>
        {%endif%}
        <p> <a href="{{ path('comment_new', { 'id': post.id }) }}"><button>New comment</button></a></p>
        <hr>
    {% endfor %}
    <ul>
        <li>
            <a href="{{ path('post_new') }}"><button>Add new post</button></a>
        </li>
    </ul>
{% endblock %}