{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'Post list'|trans({}, 'LeoBlogBundle') }}</h1>
    {% for post in posts %}
        <h2>{{ 'Author'|trans({}, 'LeoBlogBundle') }} {{ post.author }}</h2>
        <h3> {{ 'Title'|trans({}, 'LeoBlogBundle') }} {{ post.name }}</h3>
        <p>{{ 'Text'|trans({}, 'LeoBlogBundle') }}  {{ post.text }}</p>
        <p>{{ 'Created'|trans({}, 'LeoBlogBundle') }} {{ post.createTime|date("H:i:s d.m.Y") }}</p>
        {% if  post.updateTime %}
            <p>{{ 'Changed'|trans({}, 'LeoBlogBundle') }} {{ post.updateTime|date("H:i:s d.m.Y") }}</p>{% endif %}
        <a class="button" href="{{ path('post_show', { 'id': post.id }) }}">
            {{ 'show'|trans({}, 'LeoBlogBundle') }}
        </a>
        {% if (app.user==post.author or is_granted("ROLE_ADMIN")) %}
            <a class="button" href="{{ path('post_edit', { 'id': post.id }) }}">
                {{ 'edit'|trans({}, 'LeoBlogBundle') }}
            </a>
        {% endif %}{#
<a class="button"href="{{ path('post_delete', { 'id': post.id }) }}">delete</a>#}
        {% if post.comments.count %}
            <ul>
                {% for comment in post.comments %}
                    <li>
                        <h3> {{ 'Author'|trans({}, 'LeoBlogBundle') }} {{ comment.author }}</h3>
                        <p>{{ 'Comment'|trans({}, 'LeoBlogBundle') }} {{ comment.comment }}</p>
                        <p>{{ 'Created'|trans({}, 'LeoBlogBundle') }} {{ comment.createTime|date("H:i:s d.m.Y") }}</p>
                        {% if  comment.updateTime %}
                            <p>{{ 'Changed'|trans({}, 'LeoBlogBundle') }} {{ comment.updateTime|date("H:i:s d.m.Y") }}</p>{% endif %}
                        <a class="button" href="{{ path('comment_show', { 'id': comment.id }) }}">
                            {{ 'show'|trans({}, 'LeoBlogBundle') }}
                        </a>
                        {% if (app.user==comment.author or is_granted("ROLE_ADMIN")) %}
                            <a class="button" href="{{ path('comment_edit', { 'id': comment.id }) }}">
                                {{ 'edit'|trans({}, 'LeoBlogBundle') }}
                            </a>
                        {% endif %}
                        {#
                        <a class="button"href="{{ path('comment_delete', { 'id': comment.id }) }}">delete</a>#}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p><a class="button" href="{{ path('comment_new', { 'id': post.id }) }}">
                {{ 'New comment'|trans({}, 'LeoBlogBundle') }}
            </a></p>
        <hr>
    {% endfor %}
    <ul>
        <li>
            <a class="button" href="{{ path('post_new') }}">
                {{ 'Add new post'|trans({}, 'LeoBlogBundle') }}
            </a>
        </li>
    </ul>
{% endblock %}