{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>{{ 'Post creation'|trans({}, 'LeoBlogBundle') }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'Create'|trans({}, 'LeoBlogBundle') }}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="button"href="{{ path('post_index') }}">{{ 'Back to the list'|trans({}, 'LeoBlogBundle') }}</a>
        </li>
    </ul>
{% endblock %}
