{% extends 'LeoUserBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{'User creation'|trans({}, 'LeoUserBundle')}}</h1>
    {#    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
    {#    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
    {#    {{ form_label(form.username|trans({}, 'LeoUserBundle')) }}#}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'Create'|trans({}, 'LeoUserBundle') }}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="button"href="{{ path('user_index') }}">{{ 'Back to the list'|trans({}, 'LeoUserBundle') }}</a>
        </li>
    </ul>
{% endblock %}
