{% extends 'LeoUserBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Role list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
                <tr>
                    <td><a href="{{ path('role_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                    <td>{{ role.role }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('role_show', { 'id': role.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('role_edit', { 'id': role.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('role_show_users', { 'id': role.id }) }}">show users</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
