{% extends 'LeoUserBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'Role creation'|trans({}, 'LeoUserBundle') }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'Create'|trans({}, 'LeoUserBundle') }}"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="button" href="{{ path('role_index') }}">{{ 'Back to the list'|trans({}, 'LeoUserBundle') }}</a>
        </li>
    </ul>
{% endblock %}
