{% extends 'LeoUserBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Role</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ role.role }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('role_edit', { 'id': role.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('user_new') }}">New</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
