{% extends 'LeoUserBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'Role'|trans({}, 'LeoUserBundle') }}</h1>

    <table>
        <tbody>
        <tr>
            <th>{{ 'Id'|trans({}, 'LeoUserBundle') }}</th>
            <td>{{ role.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Role'|trans({}, 'LeoUserBundle') }}</th>
            <td>{{ role.role|trans({}, 'LeoUserBundle') }}</td>
        </tr>
        <tr>
            <th>{{ 'Users'|trans({}, 'LeoUserBundle') }}</th>
            <td>{% if role.users.count %}
                    <ol>
                        {% for user in role.users %}
                            <li>
                                {{ user.username }}
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="button"
               href="{{ path('role_edit', { 'id': role.id }) }}">{{ 'Edit'|trans({}, 'LeoUserBundle') }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="{{ 'Delete'|trans({}, 'LeoUserBundle') }}">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a class="button" href="{{ path('role_index') }}">{{ 'Back to the list'|trans({}, 'LeoUserBundle') }}</a>
        </li>
        <li>
            <a class="button" href="{{ path('role_new') }}">{{ 'New'|trans({}, 'LeoUserBundle') }}</a>
        </li>
    </ul>
{% endblock %}
