{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'Author edit'|trans({}, 'LeoBlogBundle') }}</h1>
    <table>
        <tr>
            <th>{{ 'Id'|trans({}, 'LeoBlogBundle') }}</th>
            <td>{{ author.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Username'|trans({}, 'LeoBlogBundle') }}</th>
            <td>{{ author.username }}</td>
        </tr>
    </table>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="{{ 'Edit'|trans({}, 'LeoBlogBundle') }}"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="button" href="{{ path('author_index') }}">{{ 'Back to the list'|trans({}, 'LeoBlogBundle') }}</a>
        </li>
    </ul>
{% endblock %}
