{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Author list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Posts</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.id }}</a></td>
                    <td>{{ author.username }}</td>
                    <td>{{ author.post.count }}</td>
                    <td>{{ author.comment.count }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('author_show', { 'id': author.id }) }}"><button>show</button></a>
                            </li>
                            <li>
                                <a href="{{ path('author_edit', { 'id': author.id }) }}"><button>edit</button></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
