{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Author activity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ author.username }}</td>
            </tr>
            {%if author.post.count %}
                <tr>
                    <th>Posts</th>
                    <td>
                        <ul>
                            {% for post in author.post%}
                                <li>Title {{ post.name }}. Text {{ post.text }}
                                    {% if (app.user==post.author or is_granted("ROLE_ADMIN")) %}
                                        <a href="{{ path('post_edit', { 'id': post.id }) }}"><button>Edit</button></a>
                                    {%endif%}
                                </li>
                            {%endfor%}
                        </ul>
                    </td>
                </tr>
            {%endif%}
            {%if author.comment.count %}
                <tr>
                    <th>Comments</th>
                    <td>
                        <ul>
                            {% for comment in author.comment%}
                                <li>
                                    {{ comment.comment }}
                                    {% if (app.user==comment.author or is_granted("ROLE_ADMIN")) %}
                                        <a href="{{ path('comment_edit', { 'id': comment.id }) }}"><button>Edit</button></a>
                                    {%endif%}
                                </li>
                            {%endfor%}
                        </ul>
                    </td>
                </tr>
            {%endif%}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('author_index') }}"><button>Back to the list</button></a>
        </li>
    </ul>
{% endblock %}
