{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Game list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Game type</th>
                <th>Name</th>
                <th>Play</th>
                <th>Watch</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
                    <td>{{ game.typeGame }}</td>
                    <td>{{ game.name }}</td>
                    <td>
                        {%if game.players.count%}
                            <ol>
                                {% for player in game.players %}
                                    <li>
                                        {{player.username}}
                                    </li>
                                {% endfor %}
                            </ol>
                        {%endif%}
                    </td>
                    <td>
                        {%if game.watchers.count%}
                            <ol>
                                {% for watcher in game.watchers %}
                                    <li>
                                        {{watcher.username}}
                                    </li>
                                {% endfor %}
                            </ol>
                        {%endif%}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('game_show', { 'id': game.id }) }}"><button>show</button></a>
                            </li>
                            <li>
                                <a href="{{ path('game_edit', { 'id': game.id }) }}"><button>edit</button></a>
                            </li>
                            <li>
                                <a href="{{ path('game_delete', { 'id': game.id }) }}"><button>delete</button></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_new') }}"><button>Create a new game</button></a>
        </li>
    </ul>
{% endblock %}
