{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'Game creation'|trans({}, 'LeoGameBundle') }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'Create'|trans({}, 'LeoGameBundle') }}"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="button" href="{{ path('game_index') }}">{{ 'Back to the list'|trans({}, 'LeoGameBundle') }}</a>
        </li>
    </ul>
{% endblock %}
