{% extends 'LeoGameBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'Game'|trans({}, 'LeoGameBundle') }}</h1>

    <table>
        <tbody>
        <tr>
            <th>{{ 'Id'|trans({}, 'LeoGameBundle') }}</th>
            <td>{{ game.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Name'|trans({}, 'LeoGameBundle') }}</th>
            <td>{{ game.name }}</td>
        </tr>

        {% if game.players.count %}
            <tr>
                <th>{{ 'Players'|trans({}, 'LeoGameBundle') }}</th>
                <td>
                    <ol>
                        {% for player in game.players %}
                            <li>
                                {{ player.username }}
                            </li>
                        {% endfor %}
                </td>
            </tr>
            </ol>
        {% endif %}
        {% if game.watchers.count %}
            <tr>
                <th>{{ 'Watchers'|trans({}, 'LeoGameBundle') }}</th>
                <td>
                    <ol>
                        {% for watcher in game.watchers %}
                            <li>
                                {{ watcher.username }}
                            </li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <a class="button"
                   href="{{ path('game_edit', { 'id': game.id }) }}">{{ 'Edit'|trans({}, 'LeoGameBundle') }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete'|trans({}, 'LeoGameBundle') }}">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
        <li>
            <a class="button" href="{{ path('game_new') }}">{{ 'New'|trans({}, 'LeoGameBundle') }}</a>
        </li>
        <li>
            <a class="button" href="{{ path('game_index') }}">{{ 'Back to the list'|trans({}, 'LeoGameBundle') }}</a>
        </li>
    </ul>
{% endblock %}
