{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>{{ 'Comment edit'|trans({}, 'LeoBlogBundle') }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="{{ 'Edit'|trans({}, 'LeoBlogBundle') }}" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input type="submit" value="{{ 'Delete'|trans({}, 'LeoBlogBundle') }}">
    {{ form_end(delete_form) }}
    <ul>
        <li>
            <a href="{{ path('comment_index') }}"><button>{{ 'Back to the list'|trans({}, 'LeoBlogBundle') }}</button></a>
        </li>
    </ul>
{% endblock %}
