{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>{{ 'Comment list'|trans({}, 'LeoBlogBundle') }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'Id'|trans({}, 'LeoBlogBundle') }}</th>
                <th>{{ 'Author'|trans({}, 'LeoBlogBundle') }}</th>
                <th>{{ 'Post'|trans({}, 'LeoBlogBundle') }}</th>
                <th>{{ 'Comment'|trans({}, 'LeoBlogBundle') }}</th>
                <th>{{ 'Actions'|trans({}, 'LeoBlogBundle') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.post }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('comment_show', { 'id': comment.id }) }}"><button>{{ 'show'|trans({}, 'LeoBlogBundle') }}</button></a>
                            </li>
                            {% if (app.user==comment.author or is_granted("ROLE_ADMIN")) %}
                                <li>
                                    <a href="{{ path('comment_edit', { 'id': comment.id }) }}"><button>{{ 'edit'|trans({}, 'LeoBlogBundle') }}</button></a>
                                </li>
                            {%endif%}
                            {#
                                                <li>
                                                    <a href="{{ path('comment_delete', { 'id': comment.id }) }}"><button>delete</button></a>
                                                </li>#}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {#
        <ul>
            <li>
                <a href="{{ path('comment_new') }}">Create a new entry</a>
            </li>
        </ul>#}
{% endblock %}
