{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>{{ 'Comment creation'|trans({}, 'LeoBlogBundle') }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'Create'|trans({}, 'LeoBlogBundle') }}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('comment_index') }}"><button>{{ 'Back to the list'|trans({}, 'LeoBlogBundle') }}</button></a>
        </li>
    </ul>
{% endblock %}
