{% extends 'LeoBlogBundle:Default:index.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>{{ 'Comment'|trans({}, 'LeoBlogBundle') }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Id'|trans({}, 'LeoBlogBundle') }}</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Comment'|trans({}, 'LeoBlogBundle') }}</th>
                <td>{{ comment.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% if (app.user==comment.author or is_granted("ROLE_ADMIN")) %}
            <li>
                <a href="{{ path('comment_edit', { 'id': comment.id }) }}"><button>{{ 'Edit'|trans({}, 'LeoBlogBundle') }}</button></a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete'|trans({}, 'LeoBlogBundle') }}">
                {{ form_end(delete_form) }}
            </li>
        {%endif%}
        <li>
            <a href="{{ path('comment_index') }}"><button>{{ 'Back to the list'|trans({}, 'LeoBlogBundle') }}</button></a>
        </li>
    </ul>
{% endblock %}
